public static final RegistryObject<Feature<?>> ¤ID¤ = register("¤id¤", ¤Id¤Feature::feature,
			new FeatureRegistration(GenerationStep.Decoration.UNDERGROUND_ORES, ¤Id¤Feature.GENERATE_BIOMES, ¤Id¤Feature::placedFeature));
