package generand.procedures;

import net.minecraft.world.level.LevelAccessor;
import net.minecraft.world.entity.LivingEntity;
import net.minecraft.core.Direction;

import net.minecraft.server.level.ServerLevel;


public class ¤classname¤ {
	public static void execute(
		LevelAccessor world,
		double x,
		double y,
		double z,
		LivingEntity entity,
		LivingEntity sourceentity,
		Direction direction
		) {

		if (world instanceof ServerLevel _level)
		_level.setDayTime(1);
	}
}