@Override
public boolean onEntitySwing(ItemStack itemstack, LivingEntity entity) {
	boolean retval = super.onEntitySwing(itemstack, entity);

    LevelAccessor _world = entity.level;
	double _x = entity.getX();
	double _y = entity.getY();
	double _z = entity.getZ();
	LivingEntity _entity = entity;
	LivingEntity _sourceentity = null;
	Direction _direction = null;
	
    ¤>procedure¤

	return retval;
}