{
  "type": "minecraft:crafting_shaped",
  "pattern": [
    " 1 ",
    " 4 ",
    " 7 "
  ],
  "key": {
    "1": {
      "item": "¤ingredient¤"
    },
    "4": {
      "item": "minecraft:stick"
    },
    "7": {
      "item": "minecraft:stick"
    }
  },
  "result": {
    "item": "¤result¤",
    "count": ¤count¤
  }
}